/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

 / {
    behaviors {

        /* --- custom mod-taps gwith tuned timings --- */
        mt_left_shift: mt_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_LEFT_SHIFT";
            bindings = <&kp LEFT_SHIFT &kp T>;
            tapping-term-ms = <110>;
            require-prior-idle-ms = <40>;
            flavor = "tap-preferred";
            quick-tap-ms = <50>;
        };

        mt_right_shift_n: mt_right_shift_n {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_RIGHT_SHIFT_N";
            bindings = <&kp RIGHT_SHIFT &kp N>;
            tapping-term-ms = <110>;
            require-prior-idle-ms = <40>;
            flavor = "tap-preferred";
            quick-tap-ms = <50>;
        };

        mt_right_shift_apos: mt_right_shift_apos {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_RIGHT_SHIFT_APOS";
            bindings = <&kp RIGHT_SHIFT &kp APOS>;
            tapping-term-ms = <110>;
            require-prior-idle-ms = <40>;
            flavor = "tap-preferred";
            quick-tap-ms = <50>;
        };

        mt_left_gui_escape: mt_left_gui_escape {
            compatible = "zmk,behavior-hold-t
